*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
app/build
backend/build
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.bin
.env
*.env
.artifacts/
**/build/
node_modules/
**/node_modules/
dist/
**/dist/
dist-desktop/
**/dist-desktop/
.expo/
**/ .expo/

